.parent {
 background: deepskyblue;
 padding: 5px;
 height: 10vh;
 width: 40vw;
}
.child {
 background: khaki;
}
.parent .child {
 background: tomato;
 border: 5px dotted white !important;
}
#second-child {
 background: lime;
 border: 5px solid black;
}